<?php
return [
    // URL to your Flarum forum
    'flarum_url' => 'http://flarum.example.com',
    // Domain of your main site (without http://)
    'root_domain' => 'example.com',
    // Create a random key in the api_keys table of your Flarum forum
    'flarum_api_key' => 'NotSecureToken',
    // Random token to create passwords
    'password_token' => 'NotSecureToken',
    // How many days should the login be valid
    'lifetime_in_days' => 14,
];
